@font-face {
  font-family: "BDO Grotesk";
  src: url("./../assets/fonts/BDOGrotesk-VF.woff2") format("woff2");
}

body {
  font-family: "BDO Grotesk",
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
